
 #cover {
    background:rgba(26, 143, 211, 0.555);
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

 .mat-form-field-underline {
   background-color:white !important;
 }
 /* GLOBAL **/
 .mat-icon {
   vertical-align: middle;
   position: relative;
   top: -1px;
 }
